*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-top: 200px;
    margin-bottom: 200px;
}
.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
}
.btn{
    background-color: black;
    color: white;
    border-radius: 0;
    padding: 12px;
}
.btn:hover{
    color: white;
}
input{
    padding: 12px;
    margin-right: 30px;
}
.form-select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
}
.logo-header{
	color: black;
	display: flex;
	align-items: center;
	font-weight: 900;
	font-size: x-large;
	
}

#headerTop{
    height: 66px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 5px 20px #888888;

}
#headerTop a{
    text-decoration: none;
    color: black;
}

#navHeader {
    display: flex;
	align-items: center;
	justify-content: center;
}

#navHeader, .subnavH{  
    list-style-type: none;

}
#navHeader > li{
    display: inline-block;
    position: relative;
}
#navHeader li{
    position: relative;
}

#navHeader > li > a{
    color: black;
    text-transform: uppercase;
}

#navHeader li a{
    text-decoration: none;
    line-height: 66px;
    padding: 0 24px;
    display: inline-block;
}

#navHeader .subnavH li:hover,
#navHeader > li:hover > a{
    color: black;
    background-color: #ccc;
}

#navHeader li:hover .subnavH{
    display: block;
}

.menu1 li:hover .user-option{
	display: block;
}

#navHeader .subnavH{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;

    /* Đổ bóng box */
    box-shadow: 0 0 12px black;
}

#navHeader .subnavH a{
    color:black;
    padding: 0 16px;
    line-height: 38px;
}

#navHeader .nav-angle-down{
    font-size: 12px;
}

#headerTop .SearchButton {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#headerTop .SearchButton:hover{
    background-color: #f44336;
}

#headerTop .search-icon {
    color: black;
    font-size: 18px;
    line-height: 66px;
} 

.menu1{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu1 li{
	margin: 0 12px;	
}
li{
	list-style-type: none;
}
.menu1 li a i{
	color: black;
    font-size: 18px;
    line-height: 66px;
}
.user-option{
	display: none;
	position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 12px black;
}
.menu1 .user-option a{
	text-decoration: none;
	color:black;
    padding: 0 16px;
    line-height: 38px;
}

ul, ol{
    margin-bottom: 0;
}
.desc{
    margin-top: 50px;
    margin-bottom: 100px;
}
.desc h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-box{
    margin: auto;
    justify-content: center;
    width: 80%;
    border: #b8b9bb 1px solid;
    padding: 24px;
}
.Fcontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 23%;
   padding: 0 15px;
}
.footer-col-s{
	width: 31%;
	padding: 0 15px;
 }
.footer-col-s h1{
	color: white;
	font-weight: bold;
}
.footer-col-s p{
	color: white;
	margin: 30px 0;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col-s	 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.store-infor{
	display: flex;
	flex-direction: column;
	color: white;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    #headerTop{
        display: flex;
        flex-direction: column; 
        height: 132px;   
    }
    .logo-header{
        display: flex;
        justify-content: center;
    }
    .menu1{
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
    #navHeader li a {
        padding: 0 10px;
    }
}



    